.about {
  background-color: black;
  height: auto; /* Adjusted to auto height for content */
  padding: 20px; /* Added padding for better spacing */
}

.content-container {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items in the column */
}

.ti-pic {
  width: 300px; /* Adjusted width for smaller screens */
  margin-bottom: 15px; /* Added margin for spacing */
}

.about-paragraph {
  color: white;
  font-size: 28px; /* Adjusted font size for smaller screens */
  display: contents;
}

@media only screen and (min-width: 768px) {
  .content-container {
    flex-direction: row; /* Switch back to horizontal layout on larger screens */
  }

  .ti-pic {
    width: 800px; /* Adjusted width for larger screens */
    margin-right: 20px; /* Added margin for spacing */
  }

  .about-paragraph {
    font-size: px; /* Adjusted font size for larger screens */
  }
}
