/* .container-fluid{
    background-color: #FFB6AD;
} */

.navbar .navbar-expand-lg .bg-body-tertiary{
background-color: #FFB6AD;
opacity: 1;
}

.navbar-collapse{
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}
